@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: var(--font-main);
    /* Padding top for fixed header, bottom for floating button */
    padding-top: 70px; 
    padding-bottom: 100px;
    -webkit-font-smoothing: antialiased;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; border: none; background: none; font-family: inherit; }
img { max-width: 100%; display: block; }

/* Hide scrollbar for Chrome/Safari/Opera */
.scroll-x::-webkit-scrollbar { display: none; }
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-x { -ms-overflow-style: none; scrollbar-width: none; }
